<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Blog post</title>
  </head>

  <body th:object="${post}">
    <h1>Post by <span th:text="anoynomous"></span></h1>
    <p th:text="*{content}"></p>
    <p th:text="'Date: ' + ${#dates.format(post.postDate, 'dd-MM-yyyy HH:mm:ss')}"></p>

    <p>Likes: <span th:text="${likeCount}">0</span></p>

    <ul class="comments">
      <li th:each="comment : ${commentList}">
        <p th:text="${comment.content}"></p>
        <!-- <p>By: <span th:text="${comment.user.name}"></span></p> -->
        <p th:text="'Date: ' + ${#dates.format(post.postDate, 'dd-MM-yyyy HH:mm:ss')}"></p>
      </li>
	  <li th:each = "reply: ${repliesList}">
		<p th:text = "${reply.content}"></p>
	  </li>
    </ul>
    <form
      method="post"
      action="#"
      th:action="@{/forum/post/{id}/like(id = ${post.id})}"
    >
      <input type="submit" value="Like!" />
    </form>

    <form method="post" action="#" th:action="@{/forum/post/{id}/comment(id=${post.id})}" th:Object="${commentForm}">
      <!-- <label for="userdropdown">Select your username</label>
      <select id="userdropdown" th:field="*{userId}">
          <option th:each="userOption : ${userList}"
                  th:value="${userOption.id}"
                  th:text="${userOption.name}">
          </option>
      </select> -->
      <label for="commentContent">Comment</label>
      <textarea id="commentContent" th:field="*{content}"></textarea>
      <input type="submit" value="Add Comment" />
      
  <!-- </form>  

  <form method="post" action="#" th:action="@{/forum/post/{id}/comment(id=${post.id})}" th:Object="${commentForm}">
	<label for="commentContent">Comment</label>
	<textarea id="commentContent" th:field="*{content}"></textarea>
	<input type="submit" value="Add Comment" />
</form>   -->
  </body>
</html>