<div>
  <form (ngSubmit)="onSubmit()">
    <label for="postId">Enter Post ID:</label>
    <input type="number" id="postId" name="postId" [(ngModel)]="postId">
    <button type="submit">Get Post Details</button>
  </form>
</div>

<div *ngIf="post">
  <h2>Post</h2>
  <p><strong>Content:</strong> {{ post.content }}</p>
  <p><strong>Author:</strong> {{ post.author.name }}</p>
  <p><strong>Created at:</strong> {{ post.postDate | date }}</p>
  
  <h2>Comments</h2>
<ul>
  <li *ngFor="let comment of comments">
    <ng-container *ngIf="comment">
      <p><strong>Author:</strong> {{ comment.post.author.name }}</p>
      <p><strong>Content:</strong> {{ comment.content }}</p>
    </ng-container>
  </li>
</ul>

  
<div>
  <h2>Add a Comment</h2>
  <textarea [(ngModel)]="newCommentContent" placeholder="Enter your comment"></textarea>
  <div>
    <label for="tagInput">Add Tags:</label>
    <tag-input id="tagInput" [(ngModel)]="selectedTags" [onlyFromAutocomplete]="true">
      <tag-input-dropdown [autocompleteItems]="autocompleteItems"></tag-input-dropdown>
    </tag-input>
    <button (click)="insertSelectedTags()">Insert Tags</button>
  </div>
  <button (click)="addComment()">Submit Comment</button>
</div>

<!-- <div style="margin: 30px;">
  <div class="form-group">
    <label>Angular tags simple input</label>
    <tag-input [(ngModel)]="items"></tag-input>
  </div>
</div> -->


<div *ngIf="!post">
  <p>Post not found.</p>
</div>
